.countdown {
  width: max-content;
  display: flex;
  align-items: center;
  margin: 40px 0;
  background-color: #00000061;
  color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
}

.countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.countdown span {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  background: linear-gradient(
    112.98deg,
    #fff4d1 8.47%,
    #f5d28f 23.3%,
    #675537 91.31%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: mover 1s infinite alternate;
}

.countdown h2 {
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
  font-family: "Kanit", sans-serif;
}

.countdown strong {
  font-size: 2rem;
}
